*{
    margin: 0;
    padding: 0;
   
}


/* Swiper base */
.swiper {
  width: 100%;
  padding: 20px 0;
}

/* Wrapper */
.swiper-wrapper {
  padding-left: 15px;
}

/* Cada slide (ESSENCIAL) */
.swiper-slide {
  width: 280px;
  margin-right: 30px;
}

/* Card */
.card {
  
  min-height: 350px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


